body {
	margin: 0;
	font-family: arial;
}

nav {
	height: auto;
}

nav a {
	text-decoration: none;
	color: #222;
	font-size: 1.6em;
	transition: all .3s linear;
	padding: .5em .5em .5em .5em;
	display: inline-block;
}

nav a:hover {
	background-color: #7BD3FE;
	transition: all .3s linear;
}

form {
	margin: 5px;
	padding: 1em;
}
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}
.box.is-dragover {
  background-color: grey;
}

.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
}
